@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 767px) {
    .sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 10%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 3em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
/*
*/

.frame {
    margin-top: 28%;
    margin-left: 14%;
    

}

/*  
*/
.container {
    position: absolute;
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 147px;
    overflow: hidden;
  }
  .head {
    position: absolute;
    top: 25px;
    left: 5px;
    width: 0;
    height: 0;
    border-bottom: 50px solid #f2f2f2;
    border-left: 50px solid transparent;
    border-bottom-left-radius: 10px;
  }
  .head::before {
    content: "";
    position: absolute;
    top: 36.5px;
    left: -47px;
    width: 50px;
    height: 34.5px;
    background: #f2f2f2;
    border-radius: 5px;
    transform: rotate(-30deg);
  }
  .head::after {
    content: "";
    position: absolute;
    top: 29.5px;
    left: -36.5px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid #f2f2f2;
    border-radius: 50px;
  }
  .head-back {
    position: absolute;
    top: 25px;
    left: 84.5px;
    width: 0;
    height: 0;
    border-bottom: 50px solid #f2f2f2;
    border-right: 12.5px solid transparent;
  }
  .head-back::before {
    content: "";
    position: absolute;
    top: 0.5px;
    left: -30.5px;
    width: 31.5px;
    height: 50px;
    background: #f2f2f2;
  }
  .ear {
    position: absolute;
    top: 20px;
    left: 82px;
    width: 20.5px;
    height: 5px;
    border-radius: 20px 20px 0 0;
    background: #f2f2f2;
    transform: rotate(-40deg);
  }
  .ear::before {
    content: "";
    position: absolute;
    top: 4.5px;
    left: 3.5px;
    width: 17px;
    height: 7.5px;
    border-radius: 0 0 20px 20px;
    background: #f2f2f2;
  }
  .neck {
    z-index: -1;
    position: absolute;
    top: 74px;
    left: 60px;
    width: 42.5px;
    height: 76px;
    background: #f2f2f2;
  }
  .neck::before {
    content: "";
    position: absolute;
    top: 21px;
    left: -68.5px;
    width: 75px;
    height: 75px;
    border-right: 12.5px solid #f2f2f2;
    border-bottom: 12.5px solid #f2f2f2;
    border-radius: 0 0 75px 0;
    transform: rotate(-4deg);
  }
  .neck::after {
    content: "";
    position: absolute;
    top: -41px;
    left: -37px;
    width: 75px;
    height: 142.5px;
    border-right: 12.5px solid #f2f2f2;
    border-bottom: 12.5px solid #f2f2f2;
    border-radius: 0 0 75px 0;
    transform: rotate(-15deg);
  }
  .horn {
    z-index: -1;
    position: absolute;
    top: -2.5px;
    left: 22.5px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 45px solid #c69a6e;
    transform: rotate(-45deg);
  }
  /*
  .horn-shadow {
    z-index: -2;
    position: absolute;
    top: -10px;
    left: 50px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 90px solid #1f2431;
    transform: rotate(-55deg);
  }*/
  .sunglass {
    position: absolute;
    top: 50px;
    left: 12.5px;
    width: 37.5px;
    height: 17.5px;
    border-radius: 0 0 30px 30px;
    background: #000;
  }
  .sunglass::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 37.5px;
    height: 5px;
    border-radius: 7.5px;
    background: #000;
  }
  .sunglass.right {
    left: 50.5px;
  }
  /*
  .shadow {
    z-index: -3;
    position: absolute;
    top: 206px;
    left: 35px;
    width: 0;
    height: 0;
    border-top: 80px solid #1f2431;
    border-left: 140px solid transparent;
  }
  .shadow::before {
    content: "";
    position: absolute;
    top: -237px;
    left: -12px;
    width: 200px;
    height: 300px;
    background: linear-gradient(#1f2431, #333e4f);
    transform: rotate(-55deg);
  }
  .shadow::after {
    content: "";
    position: absolute;
    top: -285px;
    left: -25px;
    width: 0;
    height: 0;
    border-bottom: 80px solid #1f2431;
    border-right: 80px solid transparent;
    transform: rotate(-20deg);
  }*/
  .hair-top {
    z-index: -2;
    position: absolute;
    top: 13px;
    left: 50px;
    width: 15px;
    height: 15px;
    background: #7c0dff;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 2.5px;
  }
  .hair-top::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 11.5px;
    width: 20px;
    height: 20px;
    background: #f72c7d;
    border-radius: 5px;
  }
  .mane {
    z-index: -2;
    position: absolute;
    top: 32px;
    left: 79px;
    width: 30px;
    height: 22.5px;
    background: #f55c66;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 5px;
    -webkit-animation: color1 1.2s infinite alternate;
    -moz-animation: color1 1.2s infinite alternate;
    -ms-animation: color1 1.2s infinite alternate;
    -o-animation: color1 1.2s infinite alternate;
    animation: color1 1.2s infinite alternate;
  }
  .mane-two {
    z-index: -2;
    position: absolute;
    top: 49px;
    left: 85px;
    width: 30px;
    height: 22.5px;
    background: #ffb838;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 5px;
    -webkit-animation: color2 1.4s infinite alternate;
    -moz-animation: color2 1.4s infinite alternate;
    -ms-animation: color2 1.4s infinite alternate;
    -o-animation: color2 1.4s infinite alternate;
    animation: color2 1.4s infinite alternate;
  }
  .mane-three {
    z-index: -2;
    position: absolute;
    top: 67.5px;
    left: 90px;
    width: 30px;
    height: 22.5px;
    background: #14f791;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 2.5px;
    -webkit-animation: color3 1.3s infinite alternate;
    -moz-animation: color3 1.3s infinite alternate;
    -ms-animation: color3 1.3s infinite alternate;
    -o-animation: color3 1.3s infinite alternate;
    animation: color3 1.3s infinite alternate;
  }
  .mane-four {
    z-index: -2;
    position: absolute;
    top: 86.5px;
    left: 92.5px;
    width: 30px;
    height: 22.5px;
    background: #253ff9;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 2.5px;
    -webkit-animation: color4 1s infinite alternate;
    -moz-animation: color4 1s infinite alternate;
    -ms-animation: color4 1s infinite alternate;
    -o-animation: color4 1s infinite alternate;
    animation: color4 1s infinite alternate;
  }
  .mane-five {
    z-index: -2;
    position: absolute;
    top: 106.5px;
    left: 95px;
    width: 30px;
    height: 22.5px;
    background: #f341d3;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 2.5px;
    -webkit-animation: color5 1.2s infinite alternate;
    -moz-animation: color5 1.2s infinite alternate;
    -ms-animation: color5 1.2s infinite alternate;
    -o-animation: color5 1.2s infinite alternate;
    animation: color5 1.2s infinite alternate;
  }
  .mane-six {
    z-index: -2;
    position: absolute;
    top: 124px;
    left: 92.5px;
    width: 30px;
    height: 22.5px;
    background: #7c0dff;
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    border-radius: 2.5px;
    -webkit-animation: color6 1.1s infinite alternate;
    -moz-animation: color6 1.1s infinite alternate;
    -ms-animation: color6 1.1s infinite alternate;
    -o-animation: color6 1.1s infinite alternate;
    animation: color6 1.1s infinite alternate;
  }
  .hand {
    position: absolute;
    top: 144px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 50%;
  }
  .popsicle {
    position: absolute;
    top: 115px;
    left: 12.5px;
    width: 15px;
    height: 25px;
    background: #ffb43c;
    border-radius: 1.5px;
  }
  .popsicle:before {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 3.5px;
    width: 3px;
    height: 15px;
    background: #fe994a;
    border-radius: 1.5px;
  }
  .popsicle:after {
    content: "";
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    width: 3px;
    height: 15px;
    background: #fe994a;
    border-radius: 1.5px;
  }
  .stick {
    z-index: -1;
    position: absolute;
    top: 132.5px;
    left: 17.5px;
    width: 5px;
    height: 15px;
    background: #885c3a;
  }
  .pop-shadow {
    z-index: -3;
    position: absolute;
    top: 115px;
    left: 27px;
    width: 58px;
    height: 100px;
    background: #1f2431;
    transform: rotate(-60deg);
  }
  /* color 1 */
  @-webkit-keyframes color1 {
    from {
      background-color: #8e44ad;
    }
    to {
      background-color: #f55c66;
    }
  }
  @-moz-keyframes color1 {
    from {
      background-color: #8e44ad;
    }
    to {
      background-color: #f55c66;
    }
  }
  @-ms-keyframes color1 {
    from {
      background-color: #8e44ad;
    }
    to {
      background-color: #f55c66;
    }
  }
  @-o-keyframes color1 {
    from {
      background-color: #8e44ad;
    }
    to {
      background-color: #f55c66;
    }
  }
  @keyframes color1 {
    from {
      background-color: #8e44ad;
    }
    to {
      background-color: #f55c66;
    }
  }
  /* color2 */
  @-webkit-keyframes color2 {
    from {
      background-color: #73c6b6;
    }
    to {
      background-color: #ffb838;
    }
  }
  @-moz-keyframes color2 {
    from {
      background-color: #73c6b6;
    }
    to {
      background-color: #ffb838;
    }
  }
  @-ms-keyframes color2 {
    from {
      background-color: #73c6b6;
    }
    to {
      background-color: #ffb838;
    }
  }
  @-o-keyframes color2 {
    from {
      background-color: #73c6b6;
    }
    to {
      background-color: #ffb838;
    }
  }
  @keyframes color2 {
    from {
      background-color: #73c6b6;
    }
    to {
      background-color: #ffb838;
    }
  }
  /* color3 */
  @-webkit-keyframes color3 {
    from {
      background-color: #f1948a;
    }
    to {
      background-color: #14f791;
    }
  }
  @-moz-keyframes color3 {
    from {
      background-color: #f1948a;
    }
    to {
      background-color: #14f791;
    }
  }
  @-ms-keyframes color3 {
    from {
      background-color: #f1948a;
    }
    to {
      background-color: #14f791;
    }
  }
  @-o-keyframes color3 {
    from {
      background-color: #f1948a;
    }
    to {
      background-color: #14f791;
    }
  }
  @keyframes color3 {
    from {
      background-color: #f1948a;
    }
    to {
      background-color: #14f791;
    }
  }
  /* color4 */
  @-webkit-keyframes color4 {
    from {
      background-color: #f39c12;
    }
    to {
      background-color: #253ff9;
    }
  }
  @-moz-keyframes color4 {
    from {
      background-color: #f39c12;
    }
    to {
      background-color: #253ff9;
    }
  }
  @-ms-keyframes color4 {
    from {
      background-color: #f39c12;
    }
    to {
      background-color: #253ff9;
    }
  }
  @-o-keyframes color4 {
    from {
      background-color: #f39c12;
    }
    to {
      background-color: #253ff9;
    }
  }
  @keyframes color4 {
    from {
      background-color: #f39c12;
    }
    to {
      background-color: #253ff9;
    }
  }
  /* color5 */
  @-webkit-keyframes color5 {
    from {
      background-color: #d0ece7;
    }
    to {
      background-color: #f341d3;
    }
  }
  @-moz-keyframes color5 {
    from {
      background-color: #d0ece7;
    }
    to {
      background-color: #f341d3;
    }
  }
  @-ms-keyframes color5 {
    from {
      background-color: #d0ece7;
    }
    to {
      background-color: #f341d3;
    }
  }
  @-o-keyframes color5 {
    from {
      background-color: #d0ece7;
    }
    to {
      background-color: #f341d3;
    }
  }
  @keyframes color5 {
    from {
      background-color: #d0ece7;
    }
    to {
      background-color: #f341d3;
    }
  }
  
  /* color6 */
  @-webkit-keyframes color6 {
    from {
      background-color: #85c1e9;
    }
    to {
      background-color: #7c0dff;
    }
  }
  @-moz-keyframes color6 {
    from {
      background-color: #85c1e9;
    }
    to {
      background-color: #7c0dff;
    }
  }
  @-ms-keyframes color6 {
    from {
      background-color: #85c1e9;
    }
    to {
      background-color: #7c0dff;
    }
  }
  @-o-keyframes color6 {
    from {
      background-color: #85c1e9;
    }
    to {
      background-color: #7c0dff;
    }
  }
  @keyframes color6 {
    from {
      background-color: #85c1e9;
    }
    to {
      background-color: #7c0dff;
    }
  }


@media only screen and (max-width: 480px) {

}
